
<!DOCTYPE html>
<html lang="en-US">
  <meta charset="UTF-8">
    <title>Scaffold Prompting</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#e77500">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=45f0ca61791519786076f617c078c56a89823b60" | relative_url }}">

    <!-- MathJax -->
    <script
      type="text/javascript"
      async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"
    >
    </script>
  
  </head>
  <body>
    <header class="page-header" role="banner">
      <font size=6><b>Scaffolding Coordinates to Promote Vision-Language Coordination in Large Multi-Modal Models</b></font>

      <div style="margin-top: 2rem">
        <font size=4><span class="author-block">Xuanyu Lei<sup>1,2</sup>,</span></font>
        <font size=4><span class="author-block">Zonghan Yang<sup>1</sup>,</span></font>
        <font size=4><span class="author-block">Xinrui Chen<sup>1</sup>,</span></font>
        <span class="author-block">
          <font size=4><a href="https://www.lpeng.net/" style="text-decoration: none; color: inherit;">Peng Li<sup>2</sup>,</a></font>
        </span>
        <span class="author-block">
          <font size=4><a href="https://nlp.csai.tsinghua.edu.cn/~ly/" style="text-decoration: none; color: inherit;">Yang Liu<sup>1,2</sup></a></font>
        </span>
      </div>
      

      <div style="margin-top: 1rem">
        <font size=4><sup>1</sup> <a href="https://www.cs.tsinghua.edu.cn/csen/">Department of Computer Science and Technology, Tsinghua University</a></font><br>
        <font size=4><sup>2</sup> <a href="https://air.tsinghua.edu.cn/en/">Institute for AI Industry Research (AIR), Tsinghua University</a></font><br>
      </div>
      
      <a href="https://arxiv.org/abs/2402.12058" class="btn"><b>📝&emsp;Paper</b></a>

      <a href="https://github.com/leixy20/Scaffold" class="btn"><b>📝&emsp;Homepage</b></a>

      <a href="https://github.com/leixy20/Scaffold" class="btn"><b>💻&emsp;Code for Scaffold Prompting</b></a>
    </header>

    <main id="content" class="main-content" role="main">
      <div style="text-align:center;margin-bottom: 2rem">
          <font size=4> Scaffolding Coordinates to Promote Vision-Language Coordination in Large Multi-Modal Models </font>
          <br>
      </div>

      <div style="text-align:center;">
        <img src="assets/static/overall.jpg" width="80%">
      </div>

      {{ content }}

      <footer class="site-footer">
        <!-- <span style="vertical-align: middle"><b>This project is powered by</b></span> <img src="/assets/static/logo.jpg" style="width:3em;vertical-align: middle" alt="Logo"/> <span style="vertical-align: middle"><b>AgentForce Team, affiliated with <a href="https://www.cs.tsinghua.edu.cn/csen/">DCST</a> and <a href="https://air.tsinghua.edu.cn/en/">AIR</a> in Tsinghua University. The environment construction in the proof-of-concept studies is heavily inspired by the original <a href="https://webshop-pnlp.github.io/">WebShop</a> environment.</b></span>
        </span> -->
      </footer>
    </main>
  </body>
</html>